Package: telnetd-ssl
Source: netkit-telnet-ssl
Version: 0.17.41+0.2-3+nmu1
Architecture: i386
Maintainer: Mats Erik Andersson <mats.andersson@gisladisker.se>
Installed-Size: 160
Depends: adduser, openbsd-inetd | inet-superserver, passwd, openssl (>= 0.9.8g-9), libc6 (>= 2.15), libssl1.0.2 (>= 1.0.2d)
Conflicts: telnetd
Provides: telnet-server
Section: net
Priority: extra
Description: telnet server with SSL encryption support
 The in.telnetd program is a server which supports the DARPA telnet interactive
 communication protocol.
 .
 SSL telnetd replaces normal telnetd using SSL authentication and
 encryption. It interoperates with normal telnetd in both directions.
 It checks if the other side is also talking SSL, if not it falls back
 to normal telnet protocol.
 .
 Advantages over normal telnetd: Your passwords and the data you send
 will not go in cleartext over the line. Nobody can get it with
 tcpdump or similar tools.
