*~
*.o
MCONFIG
telnet/telnet
telnetd/telnetd
telnetlogin/telnetlogin
libtelnet/libtelnet.a
debian/files
debian/telnet-ssl.postinst.debhelper
debian/telnet-ssl.postrm.debhelper
debian/telnet-ssl.substvars
debian/telnet-ssl
debian/telnetd-ssl.dirs
debian/telnetd-ssl.postinst
debian/telnetd-ssl.postrm
debian/telnetd-ssl.prerm
debian/telnetd-ssl.substvars
debian/telnetd-ssl
debian/*.debhelper.log
