Package: telnetd-ssl-dbgsym
Source: netkit-telnet-ssl
Version: 0.17.41+0.2-3+nmu1
Auto-Built-Package: debug-symbols
Architecture: i386
Maintainer: Mats Erik Andersson <mats.andersson@gisladisker.se>
Installed-Size: 208
Depends: telnetd-ssl (= 0.17.41+0.2-3+nmu1)
Section: debug
Priority: extra
Description: Debug symbols for telnetd-ssl
Build-Ids: 64e6f7d07a8622f5657f55636e1457df0cac49f7 6dc54fd43f1c7d832394d0a7b0b3be2666ffe573
